.wrapper{
  border: none;  
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .chat-side{
    width: 300px;
    height: calc(100vh);
    color: white;
    
    .side-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &_user-name{
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-weight: bold;
        } 
        &__menu{
          display: flex;
          a:visited { color:white;}
          &__new-group{
            margin-left: 0.3rem;
          }
          &__edit-user{
            margin-left: 0.3rem;
          }
        }
      }
    }
    .groups{
      height: calc(100vh);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      .group{
        margin-bottom: 40px;
        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__latest-message{
          font-size: 11px;
        }
      }
    }
  }
  .chat-main{
    width: calc(100vw - 300px);
    height: calc(100vh);
    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
        }
        &__menber-list{
          display: flex;
          font-size: 12px;
          color: #999999;
          
        }
      }
      &__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        a:visited { color: #38aef0;}
      }
      
    }
    .messages{
      height: calc(70vh - 73px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        &__upper-info{
          margin-bottom: 10px;
          display: flex;
          
          &__talker{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .form{
      height: 80px;
      padding: 20px 40px;
      background-color: #ddd;
      display: flex;
      justify-content: space-between;
    
      .new_message{
        display: flex;
        width: 100%;
        .input-box{
          position: relative;
          width: 100%;
          
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
            box-sizing: border-box;
          }
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            a:visited { color:black;}
            display: flex; 
              .file {
                display: none;
              } 
          }
        }
        .submit-btn{
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          line-height: 50px;
          background-color: #38aef0;
          text-align: center;
          cursor: pointer;
          a:visited { color:white; text-decoration: none;}
        }
      }
    }
  }
}